@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
body{
	height: 100%;
	width: 100%;
	font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    background: url(123.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*{
	margin: 0;
	padding: 0;
}
nav{
	font-family: 'Prompt', sans-serif;
}
nav ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 75px;
	background-color: black;

	color: whitesmoke;
}
nav ul li{
	padding: 0px 12px;

}
.brand img{
	width: 66px;
}
.brand{
	display: flex;
	align-items: center;
	font-weight: bolder;
}
h2{
	color: antiquewhite;
	padding: 10px;
}
h3{
	color: antiquewhite;

}
.container{
	min-height: 60vh;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	width: 75%;
	margin: 15px auto;
	background-color: black;
	border-radius: 10px;
	color: antiquewhite;
	padding: 0px 0px 30px 30px;
}
.container1{
	align-content: center;
	position: relative;
	display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.container1 .card{
	position: relative;
	width: 300px;
	height: 450px;
	background:  ;
	border-radius: 20px;
	overflow: hidden;
}
.container1 .card:before{
	content: 'songs';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:;
	clip-path: circle(150px at 80% 20%);
	transition: 0.5s ease-in-out;
}
.container1 .card:after {
	content: 'aria';
	position: absolute;
	top: 30%;
	left: -20%;
	font-size: 9em;
	font font-weight: 800px;
	font font-style: italic;
	color: rgba(255, 255, 25, 0.05);
}
.container1 .card .imgBx{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10000;
	width: 100%;
	height: 220px;
	transition: 0.5s;
}
.container1 .card .contentBx{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 1s;
	z-index: 10;
}
.container1 .card:hover .contentBx{
	height: 210px;

}
.container1 .card .contentBx h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color:blueviolet ;
	margin: 0;
}
.container1.card.contentBx.size{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 20px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	padding-top: 0;
	padding-bottom: 0;
}
.container1.card:hover .contentBx.size{
	opacity: 1;
	visibility: visible;
	transition: 0.5s;
}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  cursor: pointer;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
   cursor: pointer;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
.imgBx img{
	padding: 0px 55px 50px 55px;
	width: 170px;
	height: 150px;
	border-radius: 50%;
}